<div class="container">
  <section class="mx-auto my-5" style="max-width: 20rem">
    <div class="card">
      <div
      >
        <img
          src="../../assets/Dunkin_Holiday+2022_Lifestyle_RGB_a619cce2-37d0-4d52-9616-14759fc41673-prv.jpg"
          class="img-fluid"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold">
          <a> Dunkin Donuts </a>
        </h5>
        <p>  </p>
        <p class="mb-2"> Fast Food </p>
        <p class="card-text">Best Donuts and Milk Shakes in Los Angeles!</p>
        <br />
        <a href="https://www.yelp.com/biz/dunkin-los-angeles-6" class="btn"
          >Visit Restaurant</a
        >
      </div>
    </div>
  </section>
</div>
